{
  "parser": "babel-eslint",
  "extends": [
      "prettier",
      "prettier/flowtype",
      "prettier/react",
      "prettier/standard"
    //   "airbnb"
    ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "defaultParams": true
    }
  },
//   "plugins": ["prettier", "react", "jsx-a11y", "import"],
  "plugins": ["flowtype", "flowtype-errors", "prettier", "react", "jsx-a11y", "import"],
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  },
  "rules": {
    "flowtype-errors/show-errors": 2,
    // "indent": [2, 4, {"SwitchCase": 4}],
    // A jsx extension is not required for files containing jsx
    "react/jsx-filename-extension": 0,
    // This rule struggles with flow and class properties
    "react/sort-comp": 0,
    // ignore linebreak style. the CRLF / LF endings wont matter
    // if a windows user correctly converts CRLF to LF upon commits otherwise
    // there are errors every line.
    "linebreak-style": 0,
    "jsx-a11y/href-no-hash": 0,
    "prettier/prettier": "error"
  }
}
